In [8]:
import pandas as pd

In [9]:
import string

In [10]:
df = pd.read_csv('data/series_data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160884 entries, 0 to 160883
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   name         160858 non-null  object
 1   slug         160840 non-null  object
 2   image        114776 non-null  object
 3   firstAired   140874 non-null  object
 4   lastAired    140874 non-null  object
 5   lastUpdated  160884 non-null  object
 6   overview     143947 non-null  object
 7   year         140874 non-null  float64
dtypes: float64(1), object(7)
memory usage: 9.8+ MB

In [11]:
df.head()

,name,slug,image,firstAired,lastAired,lastUpdated,overview,year
0,The Fall and Rise of Reginald Perrin,the-fall-and-rise-of-reginald-perrin,/banners/posters/70908-1.jpg,1976-09-08,1979-01-24,2024-11-13 03:45:22,Disillusioned after a long career at Sunshine ...,1976.0
1,The New Adventures of Batman,the-new-adventures-of-batman,/banners/posters/70909-5.jpg,1977-02-10,1977-05-26,2024-10-23 05:32:01,The New Adventures of Batman is an animated se...,1977.0
2,Legends of the Super-Heroes,legends-of-the-super-heroes,/banners/posters/70910-2.jpg,1979-01-18,1979-01-25,2024-10-03 14:00:47,Heroes and villains of DC Comics square off in...,1979.0
3,Tarzan and the Super 7,tarzan-and-the-super-7,/banners/posters/70911-1.jpg,1978-01-13,1979-04-21,2023-03-14 02:54:52,"Tarzan and the Super 7, is a Saturday morning ...",1978.0
4,Larry King Live,larry-king-live,/banners/posters/70912-1.jpg,1985-06-03,2023-10-16,2024-10-13 17:02:20,Larry King Live was an American talk show host...,1985.0

In [12]:
# remove null overview and name
df = df[df['name'].notnull()]
df = df[df['overview'].notnull()]
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 143945 entries, 0 to 160883
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   name         143945 non-null  object
 1   slug         143921 non-null  object
 2   image        105192 non-null  object
 3   firstAired   128163 non-null  object
 4   lastAired    128163 non-null  object
 5   lastUpdated  143945 non-null  object
 6   overview     143945 non-null  object
 7   year         128163 non-null  float64
dtypes: float64(1), object(7)
memory usage: 9.9+ MB

In [13]:
df['text'] = df['overview']

In [14]:
# To lowercase
df['text'] = df['text'].apply(lambda s: s.lower())
df.head()

,name,slug,image,firstAired,lastAired,lastUpdated,overview,year,text
0,The Fall and Rise of Reginald Perrin,the-fall-and-rise-of-reginald-perrin,/banners/posters/70908-1.jpg,1976-09-08,1979-01-24,2024-11-13 03:45:22,Disillusioned after a long career at Sunshine ...,1976.0,disillusioned after a long career at sunshine ...
1,The New Adventures of Batman,the-new-adventures-of-batman,/banners/posters/70909-5.jpg,1977-02-10,1977-05-26,2024-10-23 05:32:01,The New Adventures of Batman is an animated se...,1977.0,the new adventures of batman is an animated se...
2,Legends of the Super-Heroes,legends-of-the-super-heroes,/banners/posters/70910-2.jpg,1979-01-18,1979-01-25,2024-10-03 14:00:47,Heroes and villains of DC Comics square off in...,1979.0,heroes and villains of dc comics square off in...
3,Tarzan and the Super 7,tarzan-and-the-super-7,/banners/posters/70911-1.jpg,1978-01-13,1979-04-21,2023-03-14 02:54:52,"Tarzan and the Super 7, is a Saturday morning ...",1978.0,"tarzan and the super 7, is a saturday morning ..."
4,Larry King Live,larry-king-live,/banners/posters/70912-1.jpg,1985-06-03,2023-10-16,2024-10-13 17:02:20,Larry King Live was an American talk show host...,1985.0,larry king live was an american talk show host...

In [15]:
# Remove puncutation
df['text'] = df['text'].apply(lambda s: s.translate(str.maketrans('', '', string.punctuation)))
df.head()

,name,slug,image,firstAired,lastAired,lastUpdated,overview,year,text
0,The Fall and Rise of Reginald Perrin,the-fall-and-rise-of-reginald-perrin,/banners/posters/70908-1.jpg,1976-09-08,1979-01-24,2024-11-13 03:45:22,Disillusioned after a long career at Sunshine ...,1976.0,disillusioned after a long career at sunshine ...
1,The New Adventures of Batman,the-new-adventures-of-batman,/banners/posters/70909-5.jpg,1977-02-10,1977-05-26,2024-10-23 05:32:01,The New Adventures of Batman is an animated se...,1977.0,the new adventures of batman is an animated se...
2,Legends of the Super-Heroes,legends-of-the-super-heroes,/banners/posters/70910-2.jpg,1979-01-18,1979-01-25,2024-10-03 14:00:47,Heroes and villains of DC Comics square off in...,1979.0,heroes and villains of dc comics square off in...
3,Tarzan and the Super 7,tarzan-and-the-super-7,/banners/posters/70911-1.jpg,1978-01-13,1979-04-21,2023-03-14 02:54:52,"Tarzan and the Super 7, is a Saturday morning ...",1978.0,tarzan and the super 7 is a saturday morning c...
4,Larry King Live,larry-king-live,/banners/posters/70912-1.jpg,1985-06-03,2023-10-16,2024-10-13 17:02:20,Larry King Live was an American talk show host...,1985.0,larry king live was an american talk show host...

In [16]:
import re

In [17]:
df['text'] = df['text'].apply(lambda s: re.sub(r'[^a-zA-Z\s]', '', s))
df.head()

,name,slug,image,firstAired,lastAired,lastUpdated,overview,year,text
0,The Fall and Rise of Reginald Perrin,the-fall-and-rise-of-reginald-perrin,/banners/posters/70908-1.jpg,1976-09-08,1979-01-24,2024-11-13 03:45:22,Disillusioned after a long career at Sunshine ...,1976.0,disillusioned after a long career at sunshine ...
1,The New Adventures of Batman,the-new-adventures-of-batman,/banners/posters/70909-5.jpg,1977-02-10,1977-05-26,2024-10-23 05:32:01,The New Adventures of Batman is an animated se...,1977.0,the new adventures of batman is an animated se...
2,Legends of the Super-Heroes,legends-of-the-super-heroes,/banners/posters/70910-2.jpg,1979-01-18,1979-01-25,2024-10-03 14:00:47,Heroes and villains of DC Comics square off in...,1979.0,heroes and villains of dc comics square off in...
3,Tarzan and the Super 7,tarzan-and-the-super-7,/banners/posters/70911-1.jpg,1978-01-13,1979-04-21,2023-03-14 02:54:52,"Tarzan and the Super 7, is a Saturday morning ...",1978.0,tarzan and the super is a saturday morning ca...
4,Larry King Live,larry-king-live,/banners/posters/70912-1.jpg,1985-06-03,2023-10-16,2024-10-13 17:02:20,Larry King Live was an American talk show host...,1985.0,larry king live was an american talk show host...

In [18]:
# Remove Repetitive
df['text'] = df['text'].apply(lambda s: re.sub(r'\b\w*(\w)\1{2,}\w*\b', '', s))
df.head()

,name,slug,image,firstAired,lastAired,lastUpdated,overview,year,text
0,The Fall and Rise of Reginald Perrin,the-fall-and-rise-of-reginald-perrin,/banners/posters/70908-1.jpg,1976-09-08,1979-01-24,2024-11-13 03:45:22,Disillusioned after a long career at Sunshine ...,1976.0,disillusioned after a long career at sunshine ...
1,The New Adventures of Batman,the-new-adventures-of-batman,/banners/posters/70909-5.jpg,1977-02-10,1977-05-26,2024-10-23 05:32:01,The New Adventures of Batman is an animated se...,1977.0,the new adventures of batman is an animated se...
2,Legends of the Super-Heroes,legends-of-the-super-heroes,/banners/posters/70910-2.jpg,1979-01-18,1979-01-25,2024-10-03 14:00:47,Heroes and villains of DC Comics square off in...,1979.0,heroes and villains of dc comics square off in...
3,Tarzan and the Super 7,tarzan-and-the-super-7,/banners/posters/70911-1.jpg,1978-01-13,1979-04-21,2023-03-14 02:54:52,"Tarzan and the Super 7, is a Saturday morning ...",1978.0,tarzan and the super is a saturday morning ca...
4,Larry King Live,larry-king-live,/banners/posters/70912-1.jpg,1985-06-03,2023-10-16,2024-10-13 17:02:20,Larry King Live was an American talk show host...,1985.0,larry king live was an american talk show host...

In [19]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
stop_words = set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\samad\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [20]:
# Remove stopwords
df['text'] = df['text'].apply(lambda s: ' '.join(word for word in s.split() if word.lower() not in stop_words))
df.head()

,name,slug,image,firstAired,lastAired,lastUpdated,overview,year,text
0,The Fall and Rise of Reginald Perrin,the-fall-and-rise-of-reginald-perrin,/banners/posters/70908-1.jpg,1976-09-08,1979-01-24,2024-11-13 03:45:22,Disillusioned after a long career at Sunshine ...,1976.0,disillusioned long career sunshine desserts pe...
1,The New Adventures of Batman,the-new-adventures-of-batman,/banners/posters/70909-5.jpg,1977-02-10,1977-05-26,2024-10-23 05:32:01,The New Adventures of Batman is an animated se...,1977.0,new adventures batman animated series produced...
2,Legends of the Super-Heroes,legends-of-the-super-heroes,/banners/posters/70910-2.jpg,1979-01-18,1979-01-25,2024-10-03 14:00:47,Heroes and villains of DC Comics square off in...,1979.0,heroes villains dc comics square twopart livea...
3,Tarzan and the Super 7,tarzan-and-the-super-7,/banners/posters/70911-1.jpg,1978-01-13,1979-04-21,2023-03-14 02:54:52,"Tarzan and the Super 7, is a Saturday morning ...",1978.0,tarzan super saturday morning cartoon series p...
4,Larry King Live,larry-king-live,/banners/posters/70912-1.jpg,1985-06-03,2023-10-16,2024-10-13 17:02:20,Larry King Live was an American talk show host...,1985.0,larry king live american talk show hosted larr...

In [21]:
# Remove single characters words
df['text'] = df['text'].apply(lambda s: re.sub(r'\b\w\b', '', s).strip())

# Remove single word rows
df = df[df['text'].str.split().apply(len) > 1]
df.reset_index(drop=True, inplace=True)
df

,name,slug,image,firstAired,lastAired,lastUpdated,overview,year,text
0,The Fall and Rise of Reginald Perrin,the-fall-and-rise-of-reginald-perrin,/banners/posters/70908-1.jpg,1976-09-08,1979-01-24,2024-11-13 03:45:22,Disillusioned after a long career at Sunshine ...,1976.0,disillusioned long career sunshine desserts pe...
1,The New Adventures of Batman,the-new-adventures-of-batman,/banners/posters/70909-5.jpg,1977-02-10,1977-05-26,2024-10-23 05:32:01,The New Adventures of Batman is an animated se...,1977.0,new adventures batman animated series produced...
2,Legends of the Super-Heroes,legends-of-the-super-heroes,/banners/posters/70910-2.jpg,1979-01-18,1979-01-25,2024-10-03 14:00:47,Heroes and villains of DC Comics square off in...,1979.0,heroes villains dc comics square twopart livea...
3,Tarzan and the Super 7,tarzan-and-the-super-7,/banners/posters/70911-1.jpg,1978-01-13,1979-04-21,2023-03-14 02:54:52,"Tarzan and the Super 7, is a Saturday morning ...",1978.0,tarzan super saturday morning cartoon series p...
4,Larry King Live,larry-king-live,/banners/posters/70912-1.jpg,1985-06-03,2023-10-16,2024-10-13 17:02:20,Larry King Live was an American talk show host...,1985.0,larry king live american talk show hosted larr...
...,...,...,...,...,...,...,...,...,...
120139,Soft White Underbelly,soft-white-underbelly,NaN,NaN,NaN,2024-12-29 04:12:03,Soft White Underbelly interviews and portraits...,NaN,soft white underbelly interviews portraits hum...
120140,"Woodworking Tips, Tricks, and Secrets",woodworking-tips-tricks-and-secrets,/banners/v4/series/458304/posters/6770d1e4d33f...,2017-01-01,2017-01-01,2024-12-29 05:07:27,"Totaling over 11 total hours of content, these...",2017.0,totaling total hours content lectures goto res...
120141,Trailer Park Boys: Jail Shorts,trailer-park-boys-jail-shorts,NaN,2021-03-11,2021-04-01,2024-12-29 04:42:42,You thought the Jail series was over did ya? N...,2021.0,thought jail series ya siree bob boys still ja...
120142,Vores Jord - Kurs Mod Nye Eventyr,vores-jord-kurs-mod-nye-eventyr,NaN,2024-12-29,2024-12-29,2024-12-29 05:11:48,"Kom med på nye eventyr, når Mikkel, Marian, Al...",2024.0,kom med nye eventyr nr mikkel marian alfred o...
120143,The Last Party: Death On Tresco,the-last-party-death-on-tresco,/banners/v4/series/458307/posters/6770ed136955...,2024-12-28,2024-12-28,2024-12-29 06:32:52,23-year-old Josh Clayton mysteriously disappea...,2024.0,yearold josh clayton mysteriously disappeared ...

## TF-IDF

In [22]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [23]:
tfidf = TfidfVectorizer()
result = tfidf.fit_transform(df['text'])

In [24]:
tfidf_df = pd.DataFrame(result.toarray(), columns=tfidf.get_feature_names_out())
tfidf_df.info()

MemoryError: Unable to allocate 359. GiB for an array with shape (120144, 400726) and data type float64

In [112]:
pd.concat([tfidf_df, df[['name', 'slug']].reset_index(drop=True)], axis=1).to_csv('data/tfidf_serieses.csv')