In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/series_data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160884 entries, 0 to 160883
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   name         160858 non-null  object
 1   slug         160840 non-null  object
 2   image        114776 non-null  object
 3   firstAired   140874 non-null  object
 4   lastAired    140874 non-null  object
 5   lastUpdated  160884 non-null  object
 6   overview     143947 non-null  object
 7   year         140874 non-null  float64
dtypes: float64(1), object(7)
memory usage: 9.8+ MB

In [3]:
df.head()

,name,slug,image,firstAired,lastAired,lastUpdated,overview,year
0,The Fall and Rise of Reginald Perrin,the-fall-and-rise-of-reginald-perrin,/banners/posters/70908-1.jpg,1976-09-08,1979-01-24,2024-11-13 03:45:22,Disillusioned after a long career at Sunshine ...,1976.0
1,The New Adventures of Batman,the-new-adventures-of-batman,/banners/posters/70909-5.jpg,1977-02-10,1977-05-26,2024-10-23 05:32:01,The New Adventures of Batman is an animated se...,1977.0
2,Legends of the Super-Heroes,legends-of-the-super-heroes,/banners/posters/70910-2.jpg,1979-01-18,1979-01-25,2024-10-03 14:00:47,Heroes and villains of DC Comics square off in...,1979.0
3,Tarzan and the Super 7,tarzan-and-the-super-7,/banners/posters/70911-1.jpg,1978-01-13,1979-04-21,2023-03-14 02:54:52,"Tarzan and the Super 7, is a Saturday morning ...",1978.0
4,Larry King Live,larry-king-live,/banners/posters/70912-1.jpg,1985-06-03,2023-10-16,2024-10-13 17:02:20,Larry King Live was an American talk show host...,1985.0